@import "tailwindcss";

@theme {
  --color-main-bg: #f8fafc;
  --color-main-text: #0f172a;
  --color-primary: #4f46e5;
  --color-secondary: #f59e0b;
}

@layer base {
  a {
    @apply block;
  }
  button {
    @apply cursor-pointer;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 9999px;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  header nav ul li a {
    @apply hover:text-primary p-3 transition-colors duration-300 md:px-7 md:py-5;
  }
  header .tools div {
    @apply cursor-pointer;
  }
  .active {
    @apply text-primary;
  }
  .filter-btn {
    @apply border-main-text/10 hover:bg-primary rounded-full border-r-2 px-5 py-2 transition-all duration-300 last:border-0 hover:text-white;
  }
  .active-filter {
    @apply bg-primary border-transparent text-white shadow-md;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-7xl px-4;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
